.heading
{
    background-color: orange;
    font-size: 25px;
    color: white;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note
{
    font-size: 17px;
    color: black;
}

.copy_right_footer
{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: gray;
    color: white;
    position: fixed;
    font-size: 20px;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}